html,body{
    height: 100vh;
    width: 100vw;
}

.navbar{
    height: 50%;
    width: 100%;
    padding: 5px;
    background-color: lightgray;
    
}

.navbardiv {
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
}
div ul{
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-right: 30px;
}

li a:hover {
    background-color: #111;
}

.banner{
    height: 30%;
    width: 80%;
    padding: 5px;
    margin: auto;
    background-color: lightgray;
    text-align: center;
}

.text-danger{
    color: red;

}
.margin-top-0{
    margin-top:0px;
}

.margin-bottom-0{
    margin-bottom: 0px;
}

.collection{
    text-align: center;
}
.d-flex{
    display: flex;
}
.round-image{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
.justify-content-around{
    justify-content: space-around;
}
.clearence {
    background-image: url("eCommerce-2.webp");
    background-repeat: no-repeat;
    background-position:center;
    background-size: 100%;
    height: 40%;
    width: 100%;
    position: relative;
}

.clearence-artical{
    height: 80%;
    width: 70%;
    background-color: white;
    text-align: center;
    margin: auto;
    position: absolute;
    bottom: 7px;
    left:13%;
    box-shadow: 5px 5px 5px lightgray;
    border-radius: 10px;
}

.features{
    width: 100%;
    height: 25%;
    background-color: lightgrey;
    align-items: center;
    
}
.shop{
    background-color:gray;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.shop:hover{
        background-color: black;
}
.card{
    height: 70%;
    width: 12%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 5px gray;
    text-align: center;
    top:3px;
    
    
}
.justify-content-around{
    justify-content: space-around;
}
.aling-item-center{
    text-align: center;
}

.w-50{
    width: 50px;
}
.h-50{
    height: 50px;
}
.footer{
    height: auto;
    width: 100%;
    background-color: lightgray;
    align-items: center;
}

section ul li{
    text-decoration: none;
    color: black;
    background-color:lightgray;
    padding: 10px;
    clear: both;
}